// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


#projects_nav{
    display : none;
}

#dashboard_nav{
    display : none;
}
#logout_nav_link{
    display: none;
}

#task_name,#task_description,#project_name,#project_description{
    width: 100vw;
}

.container{
    min-height: 75vh;
    padding-top: 75px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 150px;
    background-color: black;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
}
#main_content{
    position: relative;
    min-height: 100vh;
    padding-bottom: 150px;
}
